* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  }